# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


# Android
out/
bin/
gen/
TaskTracker/gen/com/stenstrom/TaskTracker/BuildConfig.java

TaskTracker/out/production/TaskTracker/com/stenstrom/TaskTracker/R.class

TaskTracker/out/production/TaskTracker/com/stenstrom/TaskTracker/R$string.class

TaskTracker/out/production/TaskTracker/com/stenstrom/TaskTracker/R$layout.class

TaskTracker/out/production/TaskTracker/com/stenstrom/TaskTracker/R$id.class

TaskTracker/out/production/TaskTracker/com/stenstrom/TaskTracker/MyActivity.class

TaskTracker/out/production/TaskTracker/TaskTracker.unaligned.apk

TaskTracker/out/production/TaskTracker/TaskTracker.apk

TaskTracker/out/production/TaskTracker/TaskTracker.apk
